/*** NAVBAR ***/

#navBar, .header_logo {
    margin:1em auto;
    height:auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display:         flex;
}

.navbar-container a {
    color: #fced5e;
    font-size: 22px;
    padding: 20px 20px 20px 20px;
    display: inline;
    text-align: center;
    text-decoration: none;
}

#navBar a.active-link>a{
    border-bottom: 1px solid #FFFFFF;
    color:#FFFFFF;
    padding-bottom:1px;
}

.navBar a:hover {
    color: #FFFFFF;
    font-size: 24px;
}


/*** HOME - INDEX ***/

footer p {
    background-color: black;
    color: white;
}

/*** EVENTS ***/

.events {
    margin: 20px;
}

/*** CONTACT ***/

.contact {
    margin: 50px;
    height: auto;
    display: block;
    color: #fced5e;
}

/* SLIDESHOW CODE */

.carousel {
    background: black;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display:         flex;
}
.carousel .item {
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    height: 600px;
    width: 900px;
    margin:auto;
}
.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}
.carousel-container {
    margin: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display:         flex;
}

#w3-display-container  {
    max-width: 900px;
    height: auto;
    display: block;
    margin:auto;
}

.ssimage {
    display: block;
    width:100%;
    height: 660px;
}

.w3-display-left {
    position: relative;
    top: 90%;
    left:0%;
    transform: translate(0%,-50%);
}

.w3-display-right {
    position: relative;
    top: 90%;
    right: 0%;
    transform: translate(0%,-50%);
}

body {
    background: black;
}

/* Tour De Colorado */

.tdc_h1 {
    margin: 0 auto;
    width: 400px;
    padding-bottom: 5%;
    color: #fced5e;
}

.tdc-h2 {
    padding-bottom: 2%;
    color: white;
    margin:auto;
    max-width: 200px;
}

.tdc-h4 {
    color: #fced5e;
    margin: auto;
    max-width: 700px;
    line-height: 1.25em;
}

.tdc-images {
    margin: 0 auto;
    width: 800px;
    height: 434.50px;
    padding-top: 25px;
}

.tdc-stoplist-img {
    padding-top: 10px;
    margin:0 auto;
    width: 800px;
    height: 534.50px;
}

/* PICK UP */

.pickup-h1 {
    margin: 0 auto;
    width: 150px;
    padding-bottom: 5%;
    color: #fced5e;
}

.pickup-h2 {
    padding-bottom: 2%;
    color: white;
    margin:auto;
    max-width: 200px;
}

.pickup-h4 {
    color: #fced5e;
    margin: auto;
    max-width: 700px;
    line-height: 1.25em;
}

/* LEAGUES */

.leagues-cards-container {
    display: block;
    margin:auto;
    width: 57.3%;
}

.leagues-h1 {
    margin: 0 auto;
    width: 150px;
    padding-bottom: 5%;
    color: #fced5e;
}

.leagues-card {
    padding:25px;
    display: inline-block;
}

.leagues-card-header {
    color: #fced5e;
    font-size: 32px;
    padding:20px;
    margin: 0 auto;
    flex-direction: column;
    border-width: 2px;
    padding-right: 25px;
    padding-left: 25px;
    border-color: #FFF;
    border-style: solid;
    width:400px;
    border-bottom-style: hidden;
}

.leagues-card-block {
    margin: 0 auto;
    width: 400px;
    padding:20px;
    color: #fced5e;
    flex-direction: column;
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
}

/* DONATE Page */

.donate-h1 {
    margin: 0 auto;
    width: 150px;
    padding-bottom: 5%;
    color: #fced5e;
}

.donate-h4 {
    color: #fced5e;
    margin: auto;
    max-width: 700px;
    line-height: 1.25em;
}

/* SPONSORS */

.sponsors-h1 {
    margin: 0 auto;
    width: 150px;
    padding-bottom: 5%;
    color: #fced5e;
}

.sponsors-h4 {
    color: #fced5e;
    margin: auto;
    max-width: 700px;
    line-height: 1.25em;
}

